
/* PC */
@media (min-width: 1114px) {

}

/* PC low resolution */
@media (min-width: 1024px) and (max-width: 1113px) {

}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
  
}


/* Phone */
@media (max-width: 576px) {
    .mobile-row {
        padding: 28px 12px !important;
        border: none !important;
        &::after {
            left: 0 !important;
            width: 100% !important;
        }
    }

    .mobile-col {
        margin: 8px 0;
        justify-content: start  !important;
        &::after {
            content: unset !important;
        }
    }

    .mobile-icon {
        font-size: 32px !important;
    }
}