$color-background: #f5f1e6;
$color-placeholder: #3c7878;
$color-underline: #ffb923;
$color-button: #eabd4d;
$color-title: #0c1c56;
$color-title-black: #1c1818;
$color-title-blue: #137cc9;
$color-text: #888;
$color-red: #f30202;
$color-white: #fff;
$color-background-footer: #f6e9d5;
$color-border-main: #dfbe8c;
$color-text-blue: #0c163b;
$color-title-grey: #7c7878;

$logo-default-width: 175px;
