.Modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999999;
    display: none;
    &.show {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}



.modal-fade  {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, .4);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}


.modal-content {
    position: relative;
    width: 60%;
    height: 60%;

}


.modal-children {

}