/* PC */
@media (min-width: 1114px) {

}

/* PC low resolution */
@media (min-width: 1024px) and (max-width: 1113px) {

}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {

}


/* Phone */
@media (max-width: 576px) {
    .config-wrapper {
        padding: 140px 20px !important;
    }

    .config-row {
        padding: 20px !important;
        flex-direction: column;
        margin: 0 !important;
    }

    .config-col {
        padding: 0;
        &:first-child {
            margin-bottom: 20px;
        }
    }
}